# Assignment Day2

# list

In [1]:
lst=["shubham", 12,34.56, [1, 2,3,4]]

In [2]:
lst

['shubham', 12, 34.56, [1, 2, 3, 4]]

In [3]:
lst.append("gaonkar")

In [4]:
lst

['shubham', 12, 34.56, [1, 2, 3, 4], 'gaonkar']

In [5]:
lst.index(12)

1

In [14]:
lst.count("shubham")

1

In [21]:
lst.pop(1)

12

In [31]:
fruits = ["banana", "cherry", "mango"]

In [32]:
fruits

['banana', 'cherry', 'mango']

In [33]:
fruits.reverse()

In [34]:
fruits

['mango', 'cherry', 'banana']

In [36]:
fruits.remove("banana")

In [37]:
fruits

['mango', 'cherry']

In [38]:
fruits.insert(1,"grapes")

In [39]:
fruits

['mango', 'grapes', 'cherry']

# DICT - Dictionaries

In [40]:
dit = {"name":"Shubham", "age":"21",
       "number":123456,"Add": "Goa"}

In [41]:
dit.get("age")

'21'

In [42]:
dit.items()

dict_items([('name', 'Shubham'), ('age', '21'), ('number', 123456), ('Add', 'Goa')])

In [44]:
dit.keys()

dict_keys(['name', 'age', 'number', 'Add'])

In [45]:
dit.update({"email":"shubham@gmail.com"})

In [46]:
dit

{'name': 'Shubham',
 'age': '21',
 'number': 123456,
 'Add': 'Goa',
 'email': 'shubham@gmail.com'}

In [48]:
dit.popitem()

('email', 'shubham@gmail.com')

In [49]:
dit

{'name': 'Shubham', 'age': '21', 'number': 123456, 'Add': 'Goa'}

# sets

In [50]:
s1= {1, 3, 4, 6, 6, 9, 7, 7}

In [51]:
s1

{1, 3, 4, 6, 7, 9}

In [52]:
s2= {1, 1, 6, 9, 7, 4, 4}

In [53]:
s2

{1, 4, 6, 7, 9}

In [54]:
s1.intersection(s2)

{1, 4, 6, 7, 9}

In [55]:
s1.union(s2)

{1, 3, 4, 6, 7, 9}

In [56]:
s2.issubset(s1)

True

In [57]:
s1.issuperset(s2)

True

In [59]:
s2.issuperset(s1)

False

In [60]:
s1.remove(3)

In [61]:
s1

{1, 4, 6, 7, 9}

In [62]:
s1.update(s2)

In [63]:
s1

{1, 4, 6, 7, 9}

# Tuples

In [64]:
tup = ("nokia", "lenovo", "lenovo", "lava")

In [65]:
tup

('nokia', 'lenovo', 'lava')

In [70]:
tup.count("lenovo")

1

In [71]:
tup= (1, 2, 3, 3)

In [72]:
tup.count(3)

2

In [73]:
tup.index(2)

1

# Strings

In [74]:
st1 = "hello world"

In [75]:
st1.capitalize()

'Hello world'

In [77]:
st1.find("world")

6

In [78]:
st1.upper()

'HELLO WORLD'

In [79]:
st1.replace("world", "Python")

'hello Python'

In [80]:
st1.isalpha()

False

In [82]:
st2= "pythonprogramming"
st2.isalpha()

True